<h2>Message:</h2>

<p><strong>Message from:</strong></p>
<p>{{msg.from}}</p>

<p><strong>Message to:</strong></p>
<p>{{msg.to}}</p>

<p><strong>Date:</strong></p>
<p>{{msg.date}}</p>

<p><strong>Subject</strong></p>
<p>{{msg.subject}}</p>

<p><strong>Message content:</strong></p>
<p>{{msg.content}}</p>

<a href="/inbox">Back</a>
<a href="/compose?to={{msg.to}}&subject={{msg.subject}}">Reply</a>